orchestration-pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "3c6ad212-5a88-bf1b-46ef-2430c85a0761",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "vault_name": {
              "value": {
                "value": "@activity('look_up_parameters').output.value[0].secret_information.vault_name",
                "type": "Expression"
              },
              "type": "string"
            },
            "secret_name_for_tenant_id": {
              "value": {
                "value": "@activity('look_up_parameters').output.value[0].secret_information.secret_name_for_tenant_id",
                "type": "Expression"
              },
              "type": "string"
            },
            "secret_name_for_client_id": {
              "value": {
                "value": "@activity('look_up_parameters').output.value[0].secret_information.secret_name_for_client_id",
                "type": "Expression"
              },
              "type": "string"
            },
            "secret_name_for_secret_key": {
              "value": {
                "value": "@activity('look_up_parameters').output.value[0].secret_information.secret_name_for_secret_key",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "get_access_token",
        "dependsOn": [
          {
            "activity": "look_up_parameters",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "d277f617-525f-b2dd-4525-fa051164b308",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "access_token": {
              "value": {
                "value": "@activity('get_access_token').output.result.exitValue",
                "type": "Expression"
              },
              "type": "string"
            },
            "lakehouse_id": {
              "value": {
                "value": "@activity('look_up_parameters').output.value[0].lakehouse_information.lakehouse_id",
                "type": "Expression"
              },
              "type": "string"
            },
            "lakehouse_file_path": {
              "value": {
                "value": "@activity('look_up_parameters').output.value[0].lakehouse_information.lakehouse_file_path",
                "type": "Expression"
              },
              "type": "string"
            },
            "workspace_id": {
              "value": {
                "value": "@activity('look_up_parameters').output.value[0].workspace_information.workspace_id",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "metadata",
        "dependsOn": [
          {
            "activity": "get_access_token",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "fileName": "pbiatlas-configuration-file.json"
              }
            },
            "schema": {},
            "linkedService": {
              "name": "ares_lakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "8fdf53ea-8403-4368-8536-c61afd895bf9",
                  "workspaceId": "5a42b862-de39-4a11-a141-3530107c4f18",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "look_up_parameters",
        "dependsOn": []
      }
    ]
  }
}